/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

body,
html {
  margin-top: 20px;
  height: 100%;
  background-repeat: no-repeat;
  font-family: "Oxygen", sans-serif;
}

.main-center {
  margin: 0 auto;
  max-width: 80%;
  align-items: center;
  padding: 10px 10px;
}
